<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav}"></th:block>
    </header>

    <main class="mt-3">
        <h1 class="text-center text-info">All Orders</h1>
        <h2> </h2>

        <table class="table table-success table-striped w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-info">Id</th>
                <th class="col-md-3 text-info">Image</th>
                <th class="col-md-2 text-info">Price</th>
                <th class="col-md-3 text-info">Customer name</th>
                <th class="col-md-3 text-info">Date</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="order, iter : ${orders}">
                <tr class="row mx-auto">
                    <th class="col-md-1 text-info" th:text="${iter.index + 1}"></th>
                    <td class="col-md-3 text-info">
                        <a th:href="@{/orders/details/{id}(id = ${order.id})}">
                        <div class="text-info">
                            <img th:src="${order.product.imageUrl}" width="40" height="40" alt="Product">
                        </div>
                    </td>
                    <td class="col-md-3 text-info" th:text="${order.user.name}"></td>
                    <td class="col-md-2 text-info" th:text="${order.price}"></td>
                    <td class="col-md-2 text-info" th:text="${order.localDate}"></td>


                    <td class="col-md-3 text-info">

                        <a th:href="@{/products/add}" class="btn badge-info">Add</a>
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn badge-info">Edit</a>
                        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn badge-info">Delete</a>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>

    </main>


    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>