<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block>

    <th:block sec:authorize="isAnonymous()">

        <nav class="navbar navbar-expand-lg navbar-light rounded-right font-italic " style="background-color: #10efd6;">
            <div class="navbar">

                <a class="navbar-brand" href="/">
                    <i class="far fa-smile"></i> <h2 class="text-center text-primary">Smile Shop</h2></a>
                <p>&#128522;</p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#guestNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="guestNav">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/login}"><i class="fa fa-fw fa-user"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/register}"><i class="fa fa-fw fa-user"></i>
                                Register</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="@{/contact}"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">

        <nav class="navbar navbar-expand-lg navbar-light rounded-right font-italic " style="background-color: #10efd6;">
            <div class="navbar">
                <a class="navbar-brand" th:href="@{/home}"><i class="far fa-smile"></i> Smile Shop</a>
                <p>&#128522;</p>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav justify-content-center">

                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">

                            <li class="nav-item active">
                                <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" id="adminDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Product
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" th:href="@{/products/add}">Add Product</a>
                                    <a class="dropdown-item" th:href="@{/products/all}">All Products</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                                </div>
                            </li>

                        </th:block>

                        <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                            <li class="nav-item active">
                                <div class="dropdown show">
                                    <a class="nav-link active dropdown-toggle" th:href="@{/}" id="moderatorDropdown"
                                       role="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                                    <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                        <a class="dropdown-item" th:href="@{/categories/add}">Add Category</a>
                                        <a class="dropdown-item" th:href="@{/categories/all}">All Category</a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/orders/add}">All Orders</a>
                                    </div>
                                </div>
                            </li>
                        </th:block>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/login}"><i class="fa fa-fw fa-user"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/register}"><i class="fa fa-fw fa-user"></i>
                                Register</a>
                        </li>
                        <li class="nav-item">


                            <form th:action="@{/logout}" method="POST">
                                <input class="form-control me-2" type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-outline-primary" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!--                <form class="d-flex">-->
                <!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                    <button class="btn badge-light" type="submit">Search</button>-->
                <!--                </form>-->
            </div>
        </nav>
    </th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</th:block>
