<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav}"></th:block>
    </header>

    <main class="mt-3" style="background-color: #bdefef;">
        <h1 class="text-center text-info">Register</h1>
        <form class="form w-25 mx-auto" th:action="@{/users/register}" th:object="${userRegisterBindingModel}"
              th:method="post">
            <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
            <div class="form-floating mb-3">
                <input name="username" th:value="*{username}" th:errorclass="is-invalid" required minlength="3" maxlength="20"
                       type="text" class="form-control" id="username" placeholder="Username....">

                <small id="usernameError"
                       class="invalid-feedback text-light form-text bg-danger rounded">Username length must be more than 3 characters</small>

                <small th:if="${userExistsError}" id="usernameUniqueError"
                       class="text-light form-text bg-danger rounded">Username is already occupied</small>
                <label for="username">Username</label>

            </div>
            <div class="form-floating">
                <input name="password" th:errorclass="is-invalid" required minlength="3" maxlength="20"
                       type="password" class="form-control" id="password" placeholder="Password">
                <small id="passwordError"
                       class="invalid-feedback text-light form-text bg-danger rounded">
                    Password length must be between 3 and 20 characters and passwords should match.
                </small>
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input name="confirmPassword"  th:errorclass="is-invalid" required minlength="3" maxlength="20"
                       type="password" class="form-control" id="confirmPassword"
                       placeholder="confirmPassword">
                <small id="passwordConfirmError"
                       class="invalid-feedback text-light form-text bg-danger rounded">
                    Password length must be between 3 and 20 characters and passwords should match.
                </small>
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" th:value="*{email}"
                       th:errorclass="is-invalid" required type="email" class="form-control" id="email" placeholder="email....">
                <small id="emailError"
                       class="invalid-feedback text-light form-text bg-danger rounded">Must be valid email</small>
                <label for="email">Email address</label>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn badge-info">Register</button>
            </div>


        </form>
    </main>

    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>
